.list {
    padding: 15px 0;
    position: absolute;
    top: 22px;
    right: 0;
    background: #F9F9F9;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
 
    &__item {
        padding: 10px 15px;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.015em;

        &:hover {
            background: rgba(254, 95, 30, 0.05);
            color: #FE5F1E;
            text-shadow: 0 0 .9px #FE5F1E, 0 0 .9px #FE5F1E, 0 0 .9px #FE5F1E;
        }
    }
}