@import "@/styles/main.scss";

.wrap {
    padding: 50px 0;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.title {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;   
}

.subtitle {
    font-size: 24px;
    font-weight: 500;
}