@import "@/styles/main.scss";

.header {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;

    @include display(940px) {
        justify-content: center;
        text-align: center;
    }

    &::after {
        content: '';
        width: 104%;
        height: 2px;
        background: #F7F7F7;
        position: absolute;
        bottom: 0;
        left: -2%;
    }
}

.logo {
    width: 38px;
    height: 38px;
    margin-right: 17px;
    background: transparent;

        @include display(540px) {
            width: 60px;
            height: 60px;
        }
        @include display(425px) {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }

.info {
    flex-grow: 1;
    margin-right: 17px;

    @include display(940px) {
        flex-grow: 0;
    }
}

.title {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7B7B7B;
}

.search {
    margin-right: 30px;

    @include display(540px) {
        margin-top: 10px;
        margin-right: 0;
    }
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        span:first-child::after {
            background: $primary;
        }
    }

    @include display(540px) {
        margin-top: 16px;
    }

    svg {
        width: 16px;
        height: 16px;
        margin-top: -3px;
        margin-right: 8px;
    }

    span:first-child {
        padding-right: 26px;
        position: relative;

        &::after {
            content: '';
            width: 1px;
            height: 100%;
            margin: 0 13px;
            position: absolute;
            right: 0;
            background: rgba(255, 255, 255, 0.25);
            transition: .2s;
        }
    }

    span:last-child {
        display: flex;
        align-items: center;
    }
}
