@import "@/styles/main.scss";

h1.title {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
h2.title {
    
}
h3.title {
    
}
h4.title {
    
}
h5.title {
    
}
h6.title {
    
}