@import "@/styles/main.scss";

.wrap {
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.description {
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 145.4%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #777777;
}

.image {
    display: block;
}